
    <footer class="blue-grey darken-4 white-text">
        <div class="container">
            <p class='center'> This is our notes app. &copy; DONT TAKE FROM US</p>
        </div>
    </footer>
</body>

</html>
