<head>
 <link rel='stylesheet' href='/stylesheets/style.css' />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
 <title><%= title %></title>
</head>
